/*GENERAL RULES*/
* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

p{
  line-height: 1.4;
}

html, body {
  background-color:black;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
} 

a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}

button{
  cursor: pointer;
}

button, a{
  outline: 0;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1.5;
  margin-top: 0;
  margin-bottom:0;
}

h1{
  font-family: 'Rock Salt', cursive;
  font-size: 2.5rem;
}

h2{
  border-bottom: 4px solid;
  border-radius: 10px;
  font-family: 'Rock Salt', cursive;
  font-size:2.1rem;
  margin:auto;
  padding: 15px 20px;
  text-align: center;
  width:fit-content;
  width:-moz-fit-content;
}

section{
  padding: 20px;
}

.anchor{
  display: block;
  height: 70px; /*same height as header*/
  margin-top: -70px; /*same height as header*/
  visibility: hidden;
} /*so when we click it, it goes to the right place*/

.italic{
  font-style: italic;
}

button:focus{
  outline:none;
} 

.skill-list{
  list-style: none;
  padding-left:0;
}

.skill-list li{
  font-weight: 700;
  line-height: 2;
  font-size: 1.1rem;
}

@media(min-width:450px){
  h1{
    font-size:4rem;
  }
}

@media(min-width:500px){
  h2{
    font-size:4rem;
  }
}

@media(min-width:650px){
  section{
    padding:20px 50px;
  }

  h1{
    font-size:5rem;
  }
}

@media(min-width:992px){
  section{
    padding:20px 100px;
  }

  h1{
      font-size:6rem;
  }

  h2{
      font-size:5rem;
  }
}

/* these next two are for when phones/ipads are rotated */
@media (max-width:850px) and (max-height: 580px){
  h1{
    font-size:60px;
  }

  #welcome-text{
    top:50%;
    margin-top:-50px;
  }

}

@media (max-width:600px) and (max-height: 580px){
  h1{
    font-size:50px;
  }
}

/***** NAVBAR ******/
.navbar{
  background-color: black;
  min-height: 77px;
  position: fixed;
  text-align: center;
  transition: background-color 1s;
  transition: border-color 1s;
  width: 100%;
  z-index: 1000;
}

.collapse{
  clear:both;
  height:0;
  opacity: 0;
}

.navbar-toggler {
  background-color: transparent;
  border: 2px solid transparent;
  float:right;
  font-size:1.5rem;
  margin-top:20px;
  margin-right:20px;
  opacity:1;
}

.navbar-toggler:hover, .navbar-toggler:focus{
  border: 2px solid black ;
}

.fa-bars{
  color: black;
}

#logo{
  height:100%;
  width: 100%;
}

.navbar-brand{
  font-family: 'Rock Salt', cursive;
  font-size: 2rem;
  padding-left: 20px;
  transition: transform 0.2s;
}

.brand1, .brand2{
  opacity: 0;
}

.brand1{
  float:left;
}
  
.brand2{
  opacity: 0;
  height:0;
  width:0;
}

.navbar-brand:before{
  content: '{';
  padding-right: 10px;
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.navbar-brand:after{
  content: '}';
  opacity: 0;
  padding-left: 10px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.navbar-brand:before,
.navbar-brand:after{
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  -moz-transition: opacity 0.2s, -moz-transform 0.2s;
  -o-transition: opacity 0.2s, -o-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}

.navbar-brand:hover::before,
.navbar-brand:hover::after,
.navbar-brand:focus::before,
.navbar-brand:focus::after {
  opacity: 1;
} 

.nav-link{
  display: block;
  font-family: "Rock Salt", cursive;
  font-weight: 700;
  letter-spacing: 4px;
  margin:5px auto;
  position: relative;
  padding: 5px 20px;
  transition: transform 0.2s;
  width: fit-content;
  width:-moz-fit-content;
}

.nav-link:hover, .nav-link:focus{
  border-bottom: 4px solid;
  border-radius: 10px;
  transition: border .5s;
}

.nav-link::before,
.nav-link::after {
  font-weight: 100;
  font-size: 1.5rem;
  font-family: sans-serif;
  opacity: 0;
  position: absolute;
  top: 13px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  -moz-transition: opacity 0.2s, -moz-transform 0.2s;
  -o-transition: opacity 0.2s, -o-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}

.nav-link::before {
  content: '<';
  left: -8px;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.nav-link::after {
  content: '/>';
  right: -15px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

.nav-link:hover::before,
.nav-link:hover::after,
.nav-link:focus::before,
.nav-link:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

@media(min-width:900px){
  .brand1{
    opacity:0;
    height:0;
    width: 0;
  }

  .brand2{
    display:block;
  }

  .collapse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity:1;
    padding: 0 20px;
  }

  .nav-link{
    margin: auto 20px;
  }

  .navbar-toggler{
    height:0;
    margin:0;
    opacity:0;
    width:0;
  }

  .nav-link::before {
    left: -0.9em;
  }

  .nav-link::after {
    right: -0.9em;
  }
}

@media(min-width:1120px){
  .nav-link::before {
    left: -0.5em;
  }
  .nav-link::after {
    right: -0.5em;
  }
}

/***WELCOME SCREEN****/
.welcome-section{
  display:flex;
  min-height: 100%;
  padding-bottom: 10px;
  padding-top: 77px; /*to make up for fixed navbar */
  position:relative;
  text-align: center;
}

.welcome-text{
  margin:auto;
  width: fit-content;
  width:-moz-fit-content;
}

.welcome-section a{
  color:inherit;
  /* prevents the anchor default */
}

.welcome-section a:hover{
  text-decoration: none;
  /* prevents the anchor default */
}

.arrow-down{
  width: fit-content;
  margin: auto;
  font-size: 2.5rem;
  margin-top:10px;
  display: block;
  transition: font-size 1s;
}

.arrow-down:focus, .arrow-down:hover{
  font-size: 3.5rem;
}

@media(min-width: 450px){
  .arrow-down{
    font-size: 3.5rem;
  }

  .arrow-down:focus, .arrow-down:hover{
    font-size: 4.5rem;
  }
}

/****CREATIONS****/
.creations{
  background-color: white;
}

.creations h2{
  color: black;
}

.creation-box{
  border: 5px solid black;
  border-radius: 20px;
  font-family:'Source Code Pro', monospace;
  margin: 50px auto 20px auto;
  padding: 30px 10px;
  transition:1s;
}

.creation-box header{
  text-align: center;
}

.app-title{
  color: black;
  font-weight: 700;
  font-size: 1.7rem;
  position: relative;
  text-align: center;
}

.fa-arrow-up{
  display: none;
  position: absolute;
  transition: .5s;
  -ms-transform: rotate(40deg); 
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.app-title:focus .fa-arrow-up,
.app-title:hover .fa-arrow-up{
  display: inline-block;
}

.mockup{  
  display: block;
  margin: auto;
  width: fit-content;
  width: -moz-fit-content;
}

.mockup img{
  width: 260px;
}

.creation-box .tech-stack{
  margin: 30px auto 10px auto;
  font-size: 1.1rem;
}

.tech-stack-lists{
  margin: auto;
  width: fit-content;
  width: -moz-fit-content;
}

.tech-stack-section{
  margin: auto;
  width: fit-content;
  width: -moz-fit-content;
}

.creation-box .skill-list{
  display: inline-block;
  margin: auto 10px;
  width: fit-content;
  width: -moz-fit-content;
}

.app-description{
  font-size: 1rem;
  font-weight: 700;
  margin: auto;
  max-width: 700px;
  padding: 10px 10px;
  text-align: center;
}

.viewing-options{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.viewing-options a{
  color: black;
  margin: auto 10px;
  text-align: center;
}

.view-app{
  color: black;
  background-color: white;
  border-radius: 50%;
  display: block;
  font-size: 2rem;
  margin: auto;
  margin-bottom: 5px;
  padding: 10px;
  transition: .5s;
  width: fit-content;
  width:-moz-fit-content;
}

.link-to-view:hover,
.link-to-view:focus{
  font-weight: bold;
}

.link-to-view:hover .view-app,
.link-to-view:focus .view-app{
  background-color: black;
  color: white;
}

@media(min-width:500px){
  .creation-box{
    width:95%;
    padding: 30px 20px;
  }

  .mockup img{
    width: 400px;
  }

  .creation-box .app-title{
    font-size: 2.5rem;
  }

  .app-description{
    font-size: 1.2rem;
  }

  .view-app{
    font-size: 2rem;
  }

  .creation-box .tech-stack{
    font-size: 1.2rem;
  }
}

@media(min-width:1250px){
  .creation-box{
    display: flex;
  }

  .mockup{
    flex: 2;
    display: inline-block;
  } 
 
  .mockup img{
    width: 100%;
  }

  .app-intro {
    display: inline-block;
    flex: 2;
    vertical-align: top;
    width: 100%;
  }

  .app-description{
    padding: 10px;
    text-align: left;
  }

  .second{
    order: 2;
    text-align: right;
  }

  .first{
    order: 1;
    text-align: left;
  }

  .tech-stack-section{
    flex: 1;
  }

  .creation-box .tech-stack{
    margin-top: 0;
  }
}

@media(min-width:1350px){
  .app-description{
    font-size: 1.3em;
  }
}

/****ABOUT SECTION*****/
.about{
  background-color:white;
  border-top:8px solid black;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
}

.about h2{
  color:black;
}

.text{
  color: black;
  font-family:'Source Code Pro', monospace;
  font-size:1.2rem;
  letter-spacing: -1px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  padding: 0px 10px;
}

.about-text .text{
  text-align: left;
}

.headshot{
  border-radius:50%;
  display: block;
  margin: 20px auto;
  width: 200px;
}

.my-skills{
  margin:auto;
}

.skill-box{
  border-radius: 10px;
  color:black;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  margin:0 auto;
  padding:10px 50px;
  width: 280px;
}

.other-skills{
  margin-bottom:0;
  margin-top:0;
}

.tech-stack{
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  padding:5px 10px;
  margin: auto;
  width: fit-content;
  width:-moz-fit-content;
}

.svg-icon{
  vertical-align: sub;
}

.redux-icon{
  width: 25px;
  vertical-align: sub;
}

@media(min-width:500px){
  .my-skills{
    width: 95%;
  }

  .text{
    padding: 0px 20px;
  }
}

@media(min-width: 900px){
  .text{
    font-size:1.3rem;
  }
}

@media(min-width:1250px){
  .my-skills{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media(min-width:1300px){
  .text{
    font-size:1.5rem;
  }
}

/*****CONTACT*****/
.contact{
  background-color:black;
  color:white;
}

.contact h2{
  color: white;
}

.contact .text{
  color: white;
}

.contact-logos{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: space-evenly;
  max-width: 700px;
}

.contact-logos a{
  color: white;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  font-family: 'Source Code Pro', monospace;
  margin: auto 10px;
  text-align: center;
}

.contact-logos a i{
  background-color: black;
  border-radius: 50%;
  color:white;
  font-size: 3rem;
  padding: 10px;
  transition: .5s;
  width: fit-content;
  width:-moz-fit-content;
  display: flex;
}

.contact-logos a:hover i,
.contact-logos a:focus i
{
  background-color: white;
  color: black;
  text-decoration: none;
}

@media (min-width: 500px){
  .contact-logos a i{
    font-size: 4rem;
  }
}

@media (min-width: 900px){
  .contact-logos a i{
    font-size: 4.5rem;
  }
}

/****FOOTER***/
footer h3{
  border-top:5px solid;
  font-size: 15px;
  font-family: "Rock Salt", cursive;
  margin-bottom:0;
  padding: 10px;
  text-align: center;
}

/*Classes For CSS Manipulation*/
@-webkit-keyframes font-color {
  0% { color: #e74c3c; }
  20% {color: #f1c40f; }
  40% {color: #1abc9c; }
  60% {color: #3498db; }
  80% {color: #9b59b6; }
  100% {color: #e74c3c; }
}

@keyframes font-color {
  0% {color: #e74c3c; }
  20% {color: #f1c40f; }
  40% {color: #1abc9c; }
  60% {color: #3498db; }
  80% {color: #9b59b6; }
  100% {color: #e74c3c; }
}

@-webkit-keyframes border-color {
  0% {border-color: #e74c3c; }
  20% {border-color: #f1c40f; }
  40% {border-color: #1abc9c; }
  60% {border-color: #3498db; }
  80% {border-color: #9b59b6; }
  100% {border-color: #e74c3c; }
}

@keyframes border-color {
  0% {border-color: #e74c3c; }
  20% {border-color: #f1c40f; }
  40% {border-color: #1abc9c; }
  60% {border-color: #3498db; }
  80% {border-color: #9b59b6; }
  100% {border-color: #e74c3c; }
}

@-webkit-keyframes bg-color {
  0% {background-color: #e74c3c; }
  20% {background-color: #f1c40f; }
  40% {background-color: #1abc9c; }
  60% {background-color: #3498db; }
  80% {background-color: #9b59b6; }
  100% {background-color: #e74c3c; }
}

@keyframes bg-color {
  0% {background-color: #e74c3c; }
  20% {background-color: #f1c40f; }
  40% {background-color: #1abc9c; }
  60% {background-color: #3498db; }
  80% {background-color: #9b59b6; }
  100% {background-color: #e74c3c; }
}

.black-magic{
  background: black;
  color: #e74c3c;
  animation: font-color 30s infinite;
  -webkit-animation: font-color 30s infinite;
}

.rainbow{
  background: #e74c3c;
  color: black;
  animation: bg-color 30s infinite;
  -webkit-animation: bg-color 30s infinite;
}

.just-background{
  background: #e74c3c;
  animation: bg-color 30s infinite;
  -webkit-animation: bg-color 30s infinite;
}

.just-border{
  border: 0px solid #e74c3c;
  margin-top: 22px;
  margin-right: 22px;
  animation: border-color 30s infinite;
  -webkit-animation: border-color 30s infinite;
}

.just-border:hover, .just-border:focus{
  border: 2px solid #e74c3c;
  margin-top: 20px;
  margin-right: 20px;
}

.just-font{
  color: #e74c3c;
  animation: font-color 30s infinite;
  -webkit-animation: font-color 30s infinite; 
}

.toggle-border{
  margin: 0;
}
