/*GENERAL*/
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  background-color:black;
  scroll-behavior: smooth;
} 

a{
  text-decoration: none;
  cursor: pointer;
}

button{
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  margin-bottom:0;
  line-height: 1.5;
}

h2{
  font-family: 'Rock Salt', cursive;
  font-size:40px;
  color:white;
  text-align: center;
  margin:auto;
  border-bottom: 4px solid;
  border-radius: 10px;
  width:fit-content;
  padding: 0 20px 10px 20px;
}

section{
  padding: 20px;
}

.anchor{
  display: block;
  height: 70px; /*same height as header*/
  margin-top: -70px; /*same height as header*/
  visibility: hidden;
} /*so when we click it, it goes to the right place*/

@media(min-width:500px){
  section{
    padding:35px;
  }

  .about_me{
    width: 95%;
  }
}


/***** NAVBAR ******/
.navbar{
  text-align: center;
  background-color: black;
  /* border-bottom: 5px solid transparent; */
  transition: background-color 1s;
  transition: border-color 1s;
  position: fixed;
  width:100%;
  z-index: 1000;
  min-height: 77px;
}

.brand1, .brand2{
  opacity: 0;
}

.brand1{
    float:left;
}
  
.brand2{
    display: none;
}

.collapse{
  clear:both;
  display: none;
}

.mobile{
  display:none;
}

.dropdown-divider{
border-top: 1px solid #FFA986;
}

.dropdown-item:focus, .dropdown-item:hover{
  background-color: transparent;
}

.navbar-brand{
  font-family: 'Rock Salt', cursive;
  font-size:2rem;
  padding-left:20px;
}

.custom-toggler.navbar-toggler {
  font-size:1.5rem;
  background-color: transparent;
  border-color: black;
  float:right;
  margin-top:20px;
  margin-right:20px;
}

.fa-bars{
  color: black;
}

button:focus{
  outline:none;
} 

.dropdown-menu{
border:none;
}

#logo{
  width: 100%;
  height:100%;
}

.navbar a{
  color: black;
}

.nav-link{
  font-family: "Rock Salt", cursive;
  transition: transform 0.2s;
  position: relative;
  padding: 5px 20px;
  margin:5px auto;
  display: block;
  font-weight: 700;
  letter-spacing: 4px;
  width: fit-content;
  opacity:0;
}

.nav-link:hover, .nav-link:focus{
  border-bottom: 4px solid;
  border-radius: 10px;
  transition: border .5s;
}

.nav-link::before,
.nav-link::after {
  position: absolute;
  top: 13px;
  font-weight: 100;
  font-size: 150%;
  font-family: sans-serif;
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}

.nav-link::before {
  left: -8px;
  content: '<';
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.nav-link::after {
  right: -15px;
  content: '/>';
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.nav-link:hover::before,
.nav-link:hover::after {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@-webkit-keyframes font-color {
  0% { color: #e74c3c; }
  20% {color: #f1c40f; }
  40% {color: #1abc9c; }
  60% {color: #3498db; }
  80% {color: #9b59b6; }
  100% {color: #e74c3c; }
}

@keyframes font-color {
  0% {color: #e74c3c; }
  20% {color: #f1c40f; }
  40% {color: #1abc9c; }
  60% {color: #3498db; }
  80% {color: #9b59b6; }
  100% {color: #e74c3c; }
}

@-webkit-keyframes border-color {
  0% {border-color: #e74c3c; }
  20% {border-color: #f1c40f; }
  40% {border-color: #1abc9c; }
  60% {border-color: #3498db; }
  80% {border-color: #9b59b6; }
  100% {border-color: #e74c3c; }
}

@keyframes border-color {
  0% {border-color: #e74c3c; }
  20% {border-color: #f1c40f; }
  40% {border-color: #1abc9c; }
  60% {border-color: #3498db; }
  80% {border-color: #9b59b6; }
  100% {border-color: #e74c3c; }
}

@-webkit-keyframes bg-color {
  0% {background-color: #e74c3c; }
  20% {background-color: #f1c40f; }
  40% {background-color: #1abc9c; }
  60% {background-color: #3498db; }
  80% {background-color: #9b59b6; }
  100% {background-color: #e74c3c; }
}

@keyframes bg-color {
  0% {background-color: #e74c3c; }
  20% {background-color: #f1c40f; }
  40% {background-color: #1abc9c; }
  60% {background-color: #3498db; }
  80% {background-color: #9b59b6; }
  100% {background-color: #e74c3c; }
}

@media(min-width:800px){
  .brand1{
    display:none;
  }

  .brand2{
    display:block;
  }

  .collapse{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
  }

  .nav-link{
    margin: auto 20px;
  }

  .custom-toggler.navbar-toggler{
    display:none;
  }

  .nav-link::before {
    left: -0.9em;
  }

  .nav-link::after {
    right: -0.9em;
  }
}

@media(min-width:1120px){
  .nav-link::before {
    left: -0.5em;
    }
  .nav-link::after {
    right: -0.5em;
    }
}

/***TOP PART****/
.welcome_section{
  background-color: black;
  color:#e74c3c;
  text-align: center;
  min-height: 100%;
  padding-bottom: 10px;
  position:relative;
  display:flex;
  padding-top: 77px; /*to make up for fixed navbar */
}

.welcome-text{
  margin:auto;
  width: fit-content;
}

.welcome_section a{
  color:inherit;
  /* prevents the anchor default */
}

.welcome_section a:hover{
  text-decoration: none;
  /* prevents the anchor default */
}

h1{
  font-family: 'Rock Salt', cursive;
  font-size:30px;
}

#sub_logo{
  font-size:30px;
  font-family: 'Covered By Your Grace', cursive;
  padding-top:20px;
}

.arrow_down{
  font-size: 70px;
  margin-top:10px;
  display: block;
}

@media(min-width:450px){
  h1{
    font-size:50px;
  }
}

/****ABOUT SECTION*****/
.about{
  background-color:white;
}

.about h2{
  color:black;
}

.about_me{
  text-align: center;
  font-family:'Source Code Pro', monospace;
  font-size:20px;
  margin-left:auto;
  margin-right:auto;
}

.about-text .about_me{
  text-align: left;
}

.headshot{
  margin: 20px auto;
  display: block;
  width: 200px;
  border-radius:50%;
}

.my-skills{
  margin:auto;
}

.skill-box{
  color:black;
  padding:10px 50px;
  width: fit-content;
  margin:0 auto;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
}

.other{
  margin-bottom:0;
  margin-top:0;
}

.skill-list{
  list-style: none;
  padding-left:0;
}

.skill-list li{
  font-weight: 700;
  line-height: 2;
}

.tech-stack{
  /* border-bottom: 2px solid; */
  border-radius: 10px;
  width: fit-content;
  padding:5px 10px;
  color: white;
  background-color: black;
  font-weight: bold;
}

@media(min-width:500px){
  .my-skills{
    width: 95%;
  }
}

@media(min-width: 800px){
  .about_me{
    font-size:25px;
  }
}

@media(min-width:950px){
  .my-skills{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media(min-width:1300px){
  .about-text{
    display:flex;
    flex-direction: row;
  }

  .about-text .about_me{
    flex:1;
    margin: 0 50px;
  }

  .about_me{
    font-size:30px;
  }
}

/****CREATIONS****/
.creations{
  background-image: url("../img/creative2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.creation-box{
  background-color:rgba(255,255,255,.7);
  margin:20px auto;
  padding: 30px 10px;
  box-shadow: 10px 10px 20px #000;
  transition:1s;
  font-family:'Source Code Pro', monospace;
}

.creation-box:hover, .creation-box:focus{
  box-shadow: 20px 20px 20px #000;
  background-color: rgba(255,255,255,.9);;
}

.mockup{
  width:fit-content;
  margin:auto;
  display: block;
}

.creation-box .title{
  font-size: 30px;
  text-align: center;
  font-weight: 700;
}

.creation-box .tech-stack{
  margin:auto;
  margin-top: 30px;
}

.tech-stack-lists{
  margin:auto;
  width: fit-content;
}

.tech-stack-section{
  width: fit-content;
  margin: auto;
}

.creation-box .skill-list{
  margin:auto 10px;
  display: inline-block;
  width: fit-content;
}

.app-description{
  letter-spacing: -.5px;
  font-weight: 700;
  padding: 10px 10px;
}

.viewing-options{
  display:flex;
  margin-top:5px;
  justify-content: center;
}

.viewing-options a{
  color: black;
  text-align: center;
  margin: auto 10px;
}

.view-app{
  display: block;
  background-color: black;
  color: white;
  border-radius: 50%;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

.view-app:hover, .view-app:focus{
  background-color: navy;
}

@media(min-width:500px){
  .creation-box{
    width:95%;
  }

  .mockup img{
    width: 400px;
  }

  .creation-box .title{
    font-size: 3em;
  }

  .view-app{
    font-size:2em;
  }
}

@media(min-width:1200px){

  .creation-box{
    display:flex;
  }

  .mockup{
    flex:1;
    display:inline-block;
  } 

  .mockup img{
    width: 100%;
  }

  .app-intro {
    display: inline-block;
    width: 100%;
    flex: 1;
    vertical-align: top;
  }

  .app-description{
    padding: 10px;
  }

  .second{
    order: 2;
    text-align: right;
  }

  .first{
    order: 1;
    text-align: left;
  }

  .creation-box .tech-stack{
    margin-top: 0;
  }
}

@media(min-width:1350px){
  .app-description{
    font-size: 1.4em;
  }
}



h3{
  font-size:30px;
  font-family: 'Rock Salt';
  color:white;
  text-align: center;
}

.boxed h3{
  margin-top:20px;
}


.service_desc{
  font-size:25px;
  font-family: 'Covered by your Grace', cursive;
  color:white;
  text-align: center;
}

.services{
background-color:white;
}

.services h2{
  color:black;
}




.contact{
  background-color:black;
  color:white;
}

#contact_logos{
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  display: block;
}

#contact_logos span{
  font-size:50px;
  padding:20px;
}

#contact_logos a{
  color:inherit;
  /* prevents the anchor default */
}

#contact_logos a:hover{
  text-decoration: none;
  color:gray;
  /* prevents the anchor default */
}

.boxed, .logos{
  border-radius: 20px;
  background-color: rgb(1,1,1);
  padding:15px;
  margin-top:20px;
  margin-bottom:20px;
  width:300px;
  margin-left:auto;
  margin-right:auto;
  transition: .3s;
}

.logos{
    height:200px;
    display:block;
    background-color:black;
    transition: 0.3s;
    cursor:pointer;
  }

.logos:hover{
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height:250px;
}

.modals p {
  padding-top:20px;
}

.modals {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom:20px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modals-content {
  background-color:white;
  margin: auto;
  padding: 20px;
  padding-top:0;
  border: 1px solid #888;
  width: 80%;
  /* height:80%; */
  color:black;
}

/* The Close Button */
.close_it {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close_it:hover,
.close_it:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.projects p{
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.my_vid{
  /* display:none; */
  padding-top:50px;
  width:200px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

/* #gif{
  display:block;
  width:100%;
} */

footer h3{
  color:black;
  padding-top:5px;
  padding-bottom:5px;
  margin-bottom:0;
  text-align: center;
  font-size: 20px;
  font-family:'Covered By Your Grace', cursive;
}
   
/* things that might be dependent on window size */

  @media (min-width:570px){
    h1{
        font-size:70px;
      }
    
      h2{
        font-size:60px;
      }

      #sub_logo{
        font-size:30px;
      }

      .my_vid{
        width:300px;
      }
  }
  
  @media (min-width:676px){

      #contact_logos span{
        font-size: 75px;
      }

      .my_vid{
        width:400px;
      }

  }

  /* these next two are for when phones/ipads are rotated - not sure how to make it mobile first?... */
  @media (max-width:850px) and (max-height: 580px){
    h1{
      font-size:60px;
    }

    #welcome-text{
      top:50%;
      margin-top:-50px;
    }

  }

  @media (max-width:600px) and (max-height: 580px){
    h1{
      font-size:50px;
    }
  }

  @media(min-width:851px){

    footer h3{
      font-size:25px;
    }
      .my_vid{
        width:600px;
      }
  }

  @media(min-width:992px){
      h1{
          font-size:100px;
      }

      h2{
          font-size:80px;
      }

      #sub_logo{
          font-size:50px;
      }

      .contact h2{
        width:80%;
      }

      .logos{
        width:450px;
        height:300px;
      }

      .logos:hover{
        height:350px;
      }

      .boxed{
        width:450px;
      }

      .my_vid{
        width:750px;
      }
/* 
      #gif{
        display:none;
      } */
  }

